.item1 { grid-area: main; }
.item2 { grid-area: menu; }
.item3 { grid-area: middul; }
.item4 { grid-area: middle; }
.item5 { grid-area: left; }
.item6 { grid-area: right; }
.item7 { grid-area: up;}
.item8 { grid-area: footer;}

.grid-container {
  display: grid;
  grid-template-areas:
    'main main main main main main'
    'menu middul middle left right right'
    'menu up footer footer right right' ;
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}