.carousel-container {
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px 0; 
}
.carousel-container::-webkit-scrollbar {
    display: none; 
}
.carousel {
    display: inline-block;
}
.carousel img {
    width: 200px;
    height: 300px;
    border-radius: 10px;
    margin-right: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.carousel img:hover {
    transform: scale(1.1);
}
