body {
    background-color:lightblue;
  }
h1 {
    color: black;
    text-align: center;
  }
p {
    font-family: verdana;
    font-size: 20px;
    text-align: left;
  }
h3 {
    color: black;
    text-align: left;
  }
ul {
    margin: 10px 40px;
    padding-left: 20px;
  }
li {
    margin: 5px 0;
  }
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    text-align: left;
    background-color: white;
  }
table th, table td {
    border: 1px solid black;
    padding: 10px;
  }
table th {
    background-color: #ccc;
    font-weight: bold;
  }
table td {
    background-color: #f9f9f9;
  }
img {
    border-radius: 4px;
    width: 600px;
  
  }
