body {
    background-color:lightblue;
  }
  h1 {
    color: black;
    text-align: center;
  }
  h3 {
    color: black;
    text-align: left;
  }
  p {
    font-family: verdana;
    font-size: 20px;
  }
  img {
    border-radius: 4px;
    width: 600px;
  
  }
